.site-header {
  background-position: 50% 0px;
  background-image: url("../img/boston.jpg");
}

.header-intro-wrap {
  padding-bottom: 110px;
  padding-top: 110px;
  text-align: center;
}

.btn-docs {
  background: #2b3848;
  border-color: #2b3848;
}

.footer-info a {
  color: white;
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-data-node {
	float: right;
}

article {
  max-width: 60%;
  margin: auto;
}

article.single-post {
  padding: 20px 30px;
}

#home {
  padding: 20px 30px;
}

/* Gumby overrides */
.main-nav {
  background-color: #20b24b;
}

.navbar {
  background-color: #20b24b;
  margin-bottom: 0px;
  font-weight: bold;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li > a {
  font-size: 20px;
  text-shadow: none;
  padding: 0 20px;
}

.site-header {
  border-top: 0;
}

.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination {
  line-height: 1.15538em;
  text-align: center;
  color: #bbb;
  padding: 0.57769em 0 0.57769em 0;
  max-width: 60%;
  margin: auto;
  background: #2b3848;
}

#dashboard li {
  display: inline;
  list-style-type: none;
}
  #dashboard li + li:before {
    content: " | ";
  }

@media screen and (max-width: 767px) {
  article {
    max-width: 75%;
  }
  .pagination {
    max-width: 75%;
  }
}

@media screen and (max-width: 468px) {
  .logo {
    font-size: 50px;
  }
  .btn-docs {
    border-color: #20b24b;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 20px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top:50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
  article {
    max-width: 95%;
  }
  .pagination {
    max-width: 95%;
  }
  .navbar ul {
    height: 60px;
    max-height: 60px;
    top: 0;
    background: #20b24b;
  }
  .navbar ul li {
    display: block;
    float: left;
    max-width: 25%;
  }

}
