.project {
	border-top: 1px solid #000;
	clear: left;
}
	h2 {
		width: 80%;
		float: left;
		font-size: 1.75em;
	}
	.status {
		width: 18%;
		display: inline-block;
		float: right;
		font-size: 1.25em;
		font-weight: bold;
		color: white;
		padding: 2px 5px;
		text-align: center;
	}
		.status.planning {
			background-color: gray;
		}
		.status.alpha {
			background-color: lightblue;
		}
		.status.beta {
			background-color: blue;
		}
		.status.shipped {
			background-color: green;
		}
	.project p {
		line-height: 1.5em;
	}
.project > div:nth-of-type(2) {
	float: left;
	width: 48.82117%;
	margin-right: 2.35765%;
}
.project > div:nth-of-type(3) {
	float: left;
	width: 48.82117%;
}
