<!-- START: Site Footer -->
<footer role="contentinfo" class="site-footer">
	<div class="row footer-info">
		<!-- START: Copyright Notice -->
    <div class="five columns">
      <h4 class="footer-copyright">Find U.S. Open Data</h4>
      <ul>
        <li class="footer-copyright"><a href="mailto:contact@usopendata.org">Email</a></li>
        <li class="footer-copyright"><a href="https://github.com/opendata">GitHub</a></li>
        <li class="footer-copyright"><a href="https://twitter.com/opendata">Twitter</a></li>
      </ul>
    </div>
    <div class="two columns"></div>
    <div class="five columns">
      <h4 class="footer-copyright">Copyright Notices</h4>
      <p class="footer-copyright">Text of this site is Copyright &copy; U.S. Open Data {{ page.date | date: "%Y" }} under <a href="http://creativecommons.org/licenses/by/4.0/">the Creative Commons Attribution 4.0 International (CC-BY) license</a>.</p>
      <p class="footer-copyright">HTML, CSS, images, and design are based on a design <a href="https://github.com/sudomesh/peoplesopen-front">forked from PeoplesOpen.Net</a> which was, in turn, forked from <a href="http://martini.codegangsta.io/">Martini’s template</a>, reused here under the MIT License.</p>
      <p class="footer-copyright"><a href="http://www.flickr.com/photos/tostie14/117610830/">Aerial photo of Boston</a> is by Kevin Tostado, reused under a <a href="http://creativecommons.org/licenses/by-nc/2.0/">CC-A-NC 2.0</a> license</p>
    </div>
    <!-- /END: Copyright Notice -->
	</div>
</footer>
<!-- /END: Site Footer -->
