<!-- START: Site Header -->
<script>
var host = "usopendata.org";
if ((host == window.location.host) && (window.location.protocol != "https:"))
	window.location.protocol = "https";
</script>
<div class="main-nav">
	<div class="row navbar">
		<ul id="menu-main" class="twelve columns">
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="/">Home</a>
			</li>
			<!--li class="menu-item menu-item-type-post_type menu-item-object-page>
				<a href="/about/">About</a>
			</li-->
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="/blog/">Blog</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="https://github.com/opendata">USOD on GitHub</a>
			</li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page">
				<a href="/training/">Training</a>
			</li>
		</ul>
	</div>
</div>
<header role="banner" class="site-header parallax" gumby-parallax="0.5">
	<div class="row">
		<!-- START: Intro -->
		<div class="twelve columns header-intro-wrap fadeUpIn">
			<h1 class="logo">
        <a href="/">
          <span>U.S.</span> Open Data
        </a>
      </h1>
			<p>Building the capacity of open data.</p>
			<div class="catch-errors-top"></div>
		</div>
		<!-- /END: Intro -->
	</div>
</header>
<!-- /END: Site Header -->
